<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <style>
  </style> -->
</head>



<!-- 大图 -->
<div class="box imgw">
  <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff578c8cbqj31kw15hn7k.jpg" alt="">
  <%= link_to '马上应征', jobs_path, class: 'btn btn-1 btn-1-position' %>
</div>
<!-- <a class="btn btn-primary-welcome" href="jobs" role="butto4">立即开始</a></a> -->



<!-- <div class="container">
  <div class="wrap">
    <div class="image">
      <div class="display front">
        <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff56frr8srj30m80go7gx.jpg" alt="" />
      </div>
      <div class="display back">
        <h3>灰白的爱车</h3>
      </div>
    </div>
  </div>
</div> -->



<!-- 热门职位 -->
<div class="container production-1">
  <div class="row">
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=程序员">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww3.sinaimg.cn/large/006tNc79gy1ff56fpguzrj30m80gon9c.jpg" alt="">
        </div>
        <div class="title-1">程序员</div>
      </a>
    </div>
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=产品经理">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww3.sinaimg.cn/large/006tNc79gy1ff56fqigchj30m80go13r.jpg" alt="">
        </div>
        <div class="title-1">产品经理</div>
      </a>
    </div>
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=设计师">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww3.sinaimg.cn/large/006tNc79gy1ff56flsbjuj30m80gok3j.jpg" alt="">
        </div>
        <div class="title-1">设计师</div>
      </a>
    </div>
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=运营">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff56frr8srj30m80go7gx.jpg" alt="">
        </div>
        <div class="title-1">运营</div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=市场与销售">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww3.sinaimg.cn/large/006tNc79gy1ff56fn3ifbj30m80goh0g.jpg" alt="">
        </div>
        <div class="title-1">市场与销售</div>
      </a>
    </div>
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=职能">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff56fofqofj30m80gok3a.jpg" alt="">
        </div>
        <div class="title-1">职能</div>
      </a>
    </div>
    <div class="col-md-3 picture-1">
      <a href="/jobs/search?utf8=✓&q=金融">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff56fl168jj30m80go7g0.jpg" alt="">
        </div>
        <div class="title-1">金融</div>
      </a>
    </div>
    <div class="col-md-3 picture-1">
      <a href="/jobs" class="more">
        <div class="movie-1">
          <img class="project-img img-responsive" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff56fnpihyj30m80go7gq.jpg" alt="">
        </div>
        <div class="title-1">查看所有职位</div>
      </a>
    </div>
  </div>
</div>


<!-- 使用我们网站的好处 -->
<div class="container-fluid2 text-center">
  <p class="font-0">1 offer 这样帮你发现极致职业机会</p> <!--调整文字大小-->
  <hr class="hr-1">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-file-text-o logo-small" aria-hidden="true"></i>
      <h4><br/></h4>
      <p>在一周内看到 5~10 个来自优质企业的机会，<br/>包括出国和回国工作的机会。</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-thumbs-o-up logo-small" aria-hidden="true"></i>
      <h4><br/></h4>
      <p>这里只有 TOP 5% 的企业，只为让最好的人才<br/>能遇见更好的机会。</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-lock logo-small" aria-hidden="true"></i>
      <h4><br/></h4>
      <p>我们尊重你的隐私，企业看不到你的姓名和<br/>联系方式，除非你同意。</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-mobile logo-small" aria-hidden="true"></i>
      <h4><br/></h4>
      <p>在APP上直接与未来上司甚至公司高管沟通，<br/>就像聊微信一样简单。</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-user-circle logo-small" aria-hidden="true"></i>
      <h4><br/></h4>
      <p>Consultant 在整个过程中向你提供专业的<br/>帮助和建议。</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-gift logo-small" aria-hidden="true"></i>
      <h4 style="color:#303030;"><br/></h4>
      <p>通过 Last offer 成功入职后，我们将会<br/>送您一份贺礼。</p>
    </div>
  </div>
</div>



<!-- <section class="odd">
  <div class="section-content other">
    <h2 class="section-title">听听他们怎么说</h2>
    <div class="col-3 home-people clearfix">
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="http://img.mukewang.com/5649356b0001670502000200-80-80.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            YJ（面试者）
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">简历投出去常常石沉大海，一点消息都没有，而在NewJob，能随时知道简历的动态，提高面试的机会，真是不错啊!</div>
        </div>
      </div>
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="http://oggx6lf7f.bkt.clouddn.com/d8xuf.jpeg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            Raimon（面试者）
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">高效筛选合适自己的工作，集中火力去面试，感谢NewJob平台让我找到了如今这份好工作！</div>
        </div>
      </div>
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="http://oggx6lf7f.bkt.clouddn.com/qt1l7.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            李磊（招聘者）
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">在这里招募了很多优秀的人才，质量很高，更多的人才连接，对公司的发展有非常大的帮助！</div>
        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- 运作流程*拍卖 -->
<!-- <div class="container-fluid1">
  <div class="row">
    <div class="col-sm-7" align=center>
      <h2>申请并等待审核</h2>
      <h4>提交“我的档案”，通过审核后，<br/>您将参加最新一期拍卖。</h4>
      </div>
    <div class="col-sm-5">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fex138e2tbj308c0433yu.jpg" width="320" height="170">
    </div>
  </div>
</div>
<div class="container-fluid1 bg-grey">
  <div class="row">
    <div class="col-sm-7" align=center>
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fex1a2czj0j307304qdgb.jpg" width="320" height="210">
    </div>
    <div class="col-sm-5">
      <h2>开始拍卖</h2>
      <h4>每天一次，拍卖后您的简历将对所有企业<br/>开放 7 天时间。</h4>
    </div>
  </div>
</div>
<div class="container-fluid1">
  <div class="row">
    <div class="col-sm-7" align=center>
      <h2>收到邀请</h2>
      <h4>中意您的公司会直发出邀请，<br/>您将收到多个公司的面试邀请。</h4>
      </div>
    <div class="col-sm-5">
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fex1e3fh8vj308104k0t1.jpg" width="360" height="200">
    </div>
  </div>
</div>
<div class="container-fluid1 bg-grey">
  <div class="row">
    <div class="col-sm-7" align=center>
      <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fex1jmsx33j307904tmxg.jpg" width="340" height="200">
    </div>
    <div class="col-sm-5">
      <h2>沟通约见</h2>
      <h4>选择您心仪的公司接受邀请，<br/>约定面试时间。</h4>
    </div>
  </div>
</div> -->


<!-- 用户故事*照片 -->
<div class="container-fluid3 text-center">
  <p class="font-0">遇见更好的机会，体验更精彩的人生</p>
  <hr class="hr-1">
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff56cxq2pyj30ak07sjv5.jpg" alt="Paris" width="400" height="300">
        <div class="font-position1">
          <p class="font-1">淘宝移动端副总裁</p>
          <p class="font-4 p-left" style="float: left;">October 19, 2016</p>
          <p class="font-3 p-left">&nbsp;&nbsp;&nbsp;&nbsp;by马丽</p>
          <p class="font-2">在 One Offer一周内收到 17 个面试邀请，大多来自淘宝、<br/>京东等一流电商公司。
            选择其中的 4 个接受了邀请，<br/>最终拿到了 2 个 offer。</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff56cyveh9j30ak07stda.jpg" alt="New York" width="400" height="300">
        <div class="font-position1">
          <p class="font-1">腾讯游戏架构师</p>
          <p class="font-4 p-left" style="float: left;">October 19, 2016</p>
          <p class="font-3 p-left">&nbsp;&nbsp;&nbsp;&nbsp;by王一泽</p>
          <p class="font-2">第一天参加 One Offer 的拍卖，就有 3 家新加坡公司在 One Offer 给我发出邀请。 </P>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://ww3.sinaimg.cn/large/006tNc79gy1ff56cwjn8mj30ak07sgp9.jpg" alt="San Francisco" width="400" height="300">
        <div class="font-position1">
          <p class="font-1">华为手机结构经理</p>
          <p class="font-4 p-left" style="float: left;">October 19, 2016</p>
          <p class="font-3 p-left">&nbsp;&nbsp;&nbsp;&nbsp;by林永</p>
          <p class="font-2">拍卖第二天，就在 One Offer 上收到 7 个面试邀请，
            我比较<br/>在乎公司的文化和管理水平，最终成功加入华为。</P>
        </div>
      </div>
    </div>
  </div>
  <button id="button1id" name="button1id" class="btn btn-success button-3">Good Button</button>
</div>

<!-- 用户故事*指示器，向左/向右显示用户说法 -->
<!-- <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->
  <!-- 用户故事*一人一句话 -->
  <!-- <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h4>李申说：“在 <strong>Last offer</strong> 一周内收到 17 个面试邀请，大多来自淘宝、京东等一流电商公司。<br/>
        选择其中的 4 个接受了邀请，最终拿到了 2 个 offer。”</h4>
    </div>
    <div class="item">
      <h4>王一泽说：“第一天参加拍卖，就有三家新加坡公司在 <strong>Last offer</strong> <br/>向我发出邀请，最终选择腾讯的团队。”</h4>
    </div>
    <div class="item">
      <h4>林永说：“拍卖第二天，就在 <strong>Last offer</strong> 上收到 7 个面试邀请，<br/>
        我比较在乎公司的文化和管理水平，所以只接受了华为的offer。”</h4>
    </div>
  </div> -->
  <!-- 用户故事*控制器，向右或向右箭头 -->
  <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->




<!-- 服务类型*定价容器 -->
<!-- <div class="container-fluid1">
  <div class="text-center">
    <h2>特色服务</h2>
    <h4>请尽量完善您的档案，以便选购优质服务</h4>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>竞拍</h1>
        </div>
        <div class="panel-body">
          <p><strong>周一上午10点</strong></p>
          <p><strong>开始竞拍</strong></p>
          <p><strong>审核您的档案</strong></p>
          <p><strong>公布竞拍结果(为您推广7天)</strong></p>
          <p><strong>1 次投递，就能迅速收到多个面试机会</strong></p>
        </div>
        <div class="panel-footer">
          <h3>免费</h3>
          <h4>每周一次</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1天面试</h1>
        </div>
        <div class="panel-body">
          <p><strong>免费竞拍的升级版</strong></p>
          <p><strong>前3天全渠道推广</strong></p>
          <p><strong>当天就能收到面试通知</strong></p>
          <p><strong>为您推广30天</strong></p>
          <p><strong>保护您的注意力</strong></p>
        </div>
        <div class="panel-footer">
          <h3>298元/月</h3>
          <h4>一天收到面试邀请</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>3天上岗</h1>
        </div>
        <div class="panel-body">
          <p><strong>我们将集结优质成长型的公司</strong></p>
          <p><strong>审核筛选成长型人才</strong></p>
          <p><strong>提供面试培训</strong></p>
          <p><strong>参加面试</strong></p>
          <p><strong>直接上岗</strong></p>
        </div>
        <div class="panel-footer">
          <h3>698元/月</h3>
          <h4>当天面试，当天上岗</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- 联系方式 -->
<!-- <div class="container-fluid1 bg-grey">
  <h2 class="text-center">联系我们</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>需要任何帮助，欢迎联系我们，我们会在24小时内，给您答复。</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> 广东 ，深圳市</p>
      <p><span class="glyphicon glyphicon-phone"></span> +0755 87654567</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Last offer@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">发送</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Footer箭头 -->
<!-- <footer class="container-fluid1 text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>返回顶部<a href="https://www.w3schools.com" title="Visit w3schools"></a></p>
</footer> -->


</html>
