/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";





//================常用素材====================
/*-----------所有版块上下、左右撑开位置*/
.container-fluid1 {
    padding: 60px 50px;
}
/*-----------按钮样式*/
.btn-lg {
    width: 100%;
    margin-bottom: 35px;
}
/*-----------背景、字体、个性化主题*/
.bg-grey {
    background-color: #f6f6f6;
}
body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  margin-top: 50px;//表格与Navbar留白
  margin-bottom: 560px;//footer置底用（配合footer上的css）
}
html {//footer置底用
   position: relative;
   min-height: 100%;
 }
// h2 {
//   font-size: 24px;
//   text-transform: uppercase;
//   color: #303030;
//   font-weight: 600;
//   margin-bottom: 30px;
// }
// h4 {
//   font-size: 19px;
//   line-height: 1.375em;
//   color: #303030;
//   font-weight: 400;
//   margin-bottom: 30px;
// }
/*-----------job界面表格样式*/
.col-centered{  //Nic教程用的，panel居中
  float: none;
  margin: 0 auto;
}



//================navbar导航栏margin-bottom
.navbar-default {
     background-color: #1e3f52;
     border-color: #1e3f52;
     border-radius: 0;
 }
 .navbar-default .navbar-brand {
     color: #ffffff;
     padding: 10px 15px;
     line-height: 30px;
 }
 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #ffffff;//鼠标放在公司名 Last offer上的颜色
     background-color: transparent;
 }
 .navbar-default .navbar-nav > li > a {
     color: #ffffff;
 }
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #ffffff;//鼠标放在 首页、工作列表、用户名上的颜色
     background-color: transparent;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #1e3f52;
     background-color: #1e3f52;
 }
 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: #ffffff;
     color: #1e3f52;
 }
 /*navbar置顶*/
 .navbar-fixed-top {
    top: 0px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}


//================大图
.box {
  width: 100%;
  height: 100%;
  margin-top: -50px;
}
.button-1 {//按钮的位置、大小
  margin-top: 10px;
  width: 250px;
  height: 60px;
  background-color: #2cc795;
  position: absolute;
  z-index: 10;
}
.button-position {
  position: absolute;
  top: 600px;
  left: 300px;
}
.imgw{
  position: relative;
}

// .jumbotron {
//     background-color: #1e3f52;
//     color: #fff;
//     padding: 230px 25px;
//     font-family: Montserrat, sans-serif;//“蒙特塞拉特”和“拉托”
//     margin-top: -50px;
// }
// .container-fluid .jumbotron{
// border-radius: 0;//圆角为0
// }


//================热门职位
.hjc-ul {
  padding: 0 0px 0;
  margin: 0px auto 0;//99
  // text-align: center;
  // overflow: hidden;
  // height: 710px;
  width: 100%;
  li {
    display: inline-block;
    width: 432px;
    height: 320px;
    margin-left: -4px;
    margin-right: -1px;
    position: relative;
    margin-bottom: -10px;
    overflow: hidden;
    .hjc-img-wrap {
      width: 480px;
      height: 480px;
      img {
        width: 100%;
        height: auto;
      }
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -webkit-transition: all .8s;
        transition: all .8s;
      }
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.7);
      font-size: 16px;
      padding: 6px 25px;
      color: #fff;
      transition: opacity .4s ease-in-out;
    }
  }
  .more {
    .title {
      height: 150px;
      line-height: 130px;
      font-size: 20px;
    }
  }
}


//================使用网站的好处*icon风格
.container-fluid2 {
    padding: 170px 0px 70px 0px;//调整上下左右内边距
    margin-right: 20px;
}
.logo-small {
    color: #2cc795;
    font-size: 100px!important;
    margin-top: 50px;
}
.logo {
    color: #1e3f52;
    font-size: 200px;
}


//================拍卖流程*将“logo”列放置在小于768像素宽的屏幕上
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}



//================用户故事*照片缩略图
.container-fluid3 {
    padding: 60px 50px;
    margin-bottom: 40px;//到footer的距离
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  margin-top: 55px;
}
.thumbnail img {
  width: 84%;
  height: 84%;
  margin-bottom: 10px;
}
.hr-1 {//直线
width: 60px;
background-color: #2cc795;
height: 2px;
margin-top: 30px;
}
p.font-1 {
  font-family: "Microsoft YaHei";
  font-weight: 400;
  font-size: 16px;
  color: #1e3f52;
}
p.font-2 {
  font-family: "Microsoft YaHei";
  font-size: 15px;
  color: #adadad;
  margin-top: 30px;
}
p.font-3 {
  font-family: "Microsoft YaHei";
  font-weight: 350;
  font-size: 5px;
  color: #adadad;
}
p.font-4 {
  font-family: "Microsoft YaHei";
  font-size: 5px;
  color: #2cc795;
}
.font-position1 {
  margin-left: 35px;
  margin-top: 35px;
  text-align: left;
}
.button-3 {//按钮的位置、大小
  margin-top: 10px;
  width: 160px;
  height: 50px;
  background-color: #2cc795;
}
p.font-0 {
  font-family: "Microsoft YaHei";
  font-weight: 1000;
  font-size: 29px;
  color: #1e3f52;
}
/*关于字体的定义见 Common*/


// //================用户故事*轮播一人一句话
// .carousel-control.right, .carousel-control.left {
//  background-image: none;
//  color: #1e3f52;
// }
// .carousel-indicators li {
//   border-color: #1e3f52;
// }
// .carousel-indicators li.active {
//   background-color: #1e3f52;
// }
// .item h4 {
//   font-size: 19px;
//   line-height: 1.375em;
//   font-weight: 400;
//   font-style: italic;
//   margin: 70px 0;
// }
// .item span {
//   font-style: normal;
// }

// //================服务类型*定价容器的造型
// .panel {
//   border: 1px solid #1e3f52;
//   border-radius:0 !important;
//   transition: box-shadow 0.5s;
// }
// .panel:hover {
//   box-shadow: 5px 0px 40px rgba(0,0,0, .2);
// }
// .panel-footer .btn:hover {
//   border: 1px solid #1e3f52;
//   background-color: #fff !important;
//   color: #1e3f52;
// }
// .panel-heading {
//   color: #fff !important;
//   background-color: #1e3f52 !important;
//   padding: 25px;
//   border-bottom: 1px solid transparent;
//   border-top-left-radius: 0px;
//   border-top-right-radius: 0px;
//   border-bottom-left-radius: 0px;
//   border-bottom-right-radius: 0px;
// }
// .panel-footer {
//   background-color: white !important;
// }
// .panel-footer h3 {
//   font-size: 32px;
// }
// .panel-footer h4 {
//   color: #aaa;
//   font-size: 14px;
// }
// .panel-footer .btn {
//   margin: 15px 0;
//   background-color: #1e3f52;
//   color: #fff;
// }
//
// //================footer箭头样式
// footer .glyphicon {
//   font-size: 20px;
//   margin-bottom: 20px;
//   color: #1e3f52;
// }

// //================向上滚动元素的效果，只需添加.slideanmin，可在js和css中修改持续时间、透明度、何时开始等）
// .slideanim {visibility:hidden;}
// .slide {
//   animation-name: slide;
//   -webkit-animation-name: slide;
//   animation-duration: 1s;
//   -webkit-animation-duration: 1s;
//   visibility: visible;
// }
// @keyframes slide {
// 0% {
//   opacity: 0;
//   transform: translateY(70%);
// }
// 100% {
//   opacity: 1;
//   transform: translateY(0%);
// }
// }
// @-webkit-keyframes slide {
// 0% {
//   opacity: 0;
//   -webkit-transform: translateY(70%);
// }
// 100% {
//   opacity: 1;
//   -webkit-transform: translateY(0%);
// }
// }

//================搜索框的设置（参考戴建林https://github.com/daijianlin/job-listing/blob/Step9.0-css09/app/assets/stylesheets/application.scss）
#search-id {
  width: 200px;
  padding-top: 7px;
}
.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}
.jobs-show0 {
  border-bottom: 1px dotted #CCC;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}
.jobs-show {
  border-bottom: 1px dotted #CCC;
  padding: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}



//================footer===============
.footer-distributed{
	background-color: #1e3f52;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 180px 50px;
	margin-top: 0px;
  margin-left: 0px;
  z-index: auto;
  position: absolute;//footer置底（配合body、html的css）
  bottom: 0;//footer置底
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
.footer-distributed h3 span{
	color:  #ffffff;
}

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #1e3f52;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #1e3f52;
	border-radius: 2px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}



//================用户故事
.home-people {
  .person {
    display: inline-block;
    margin-top: 20px;
    top: 0;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    &:hover {
      position: relative;
      top: -5px;
    }
    .avata-wrapper {
      position: absolute;
      width: 96px;
      height: 96px;
      padding: 5px;
      left: 50%;
      top: 10px;
      margin-left: -53px;
      border: dotted 1px #E6EDEF;
      border-radius: 53px;
      overflow: hidden;
    }
    .avata {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .intro {
      margin-top: 108px;
      .name {
        text-align: center;
      }
      .invest {
        float: right;
        margin-right: 20px;
        font-size: 14px;
        line-height: 28px;
        color: #fff;
        font-weight: bold;
      }
    }
    .words {
      position: relative;
      margin-top: 10px;
      padding: 41px 20px 20px 25px;
      border-radius: 3px;
      color: #fff;
      line-height: 25px;
      text-align: left;
      font-weight: bold;
      overflow: hidden;
      .bg {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.7;
        z-index: 0;
      }
      .quote {
        position: absolute;
        color: #aaa;
        font-size: 16px;
      }
      .quote-l {
        top: 10px;
        left: 5px;
      }
      .quote-r {
        bottom: 10px;
        right: 5px;
      }
      .content {
        position: relative;
        height: 75px;
        overflow: hidden;
        font-size: 13px;
        z-index: 0;
        color: #333;
      }
    }
  }
}

.section-content {
  width: 1000px;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
  .title {
    padding: 20px 0 10px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
  }
  .description {
    width: 420px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .col-3 {
    padding-top: 20px;
    .item {
      width: 300px;
      margin-left: 33px;
      position: relative;
      top: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      &:hover {
        position: relative;
        top: -5px;
      }
      .advantage-img {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .advantage-title {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333333;
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}
