// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//======== index 背景/标题 =========//
.panel-1 {
  border: none!important;
  box-shadow: none!important;
  background-color: #f8f8f8!important;
  border-radius: 0!important;
}
.row-2 {
  background-color: #1e3f52;
  margin-top: -50px;
  padding-top: 50px;
  margin-bottom: -10px;
  padding-bottom: 50px;
}
.job-title-0 {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0px;
  margin: 15px 0;
}
//========= index 直聘 ==========//
.job-list {//颜色框以及阴影效果
 background: #ffffff;
//  margin: 10px 250px 20px 250px;
//  border-radius: 10px;
//  box-shadow: 0px 10px 30px rgba(49, 8, 7, 1);//阴影效果
}
.job-list li {
 padding: 10px;
 overflow: hidden
}
.job-list li:hover {//激活新背景*********可以用作动画效果********
 background-color: #f8f8f8;
 -webkit-transition: all linear .2s;
 transition: all linear .2s;
 margin-left: -50px;//向左移动的动画效果差
}
.job-list li p {//工作描述的字体、颜色
}
.job-logo {
 width: 65px;
 height: 65px;
}
//////////////
.job-primary .info-primary {//工资设置
 float: left;
 font-size: 15px;
}
.job-primary .info-primary a {//标题设置
}
//====== index 推荐职位 =======//
.suggest-title{//标题部分
 background-color: #ffffff;
}
.suggest-content{//正文部分
 background-color: #fff;
 border-top: 4px solid #f8f8f8;
 padding: 10px;
}
//===========index 分页=========//
.paginate-job-1 {
 margin: 40px 0px 70px 0px;
}


//===========Show =========//
.logo-1 img {
   width: 150px; //定制图片宽度
   height: 150px; //定制图片高度
   margin-top: 30px;
   margin-bottom: 30px;
}
.row-3 {
background-color: #fff;
}
.p-show-1 {
  margin-top:40px;
  font-size:17px;
  margin-bottom:45px;
  margin-left: 8px;
}
.p-show-2 {
  margin: 30px 8px;
}
.label-show-1 {
  font-size: 15px!important;
  padding: 15px!important;
  color: #3a3a3a!important;
  background-color: #f8f8f8!important;
}
.h-show-1 {
 color:#5bc0de;
 margin: 50px 0px -9px 8px;
}

 //===========Admin index =========//
.btn-admin-job-1 {
  background-color: #1e3f52!important;
  margin-top: 10px;
}
.btn-admin-job-2 {
  background-color: #1e3f52!important;
  margin-top: -20px;
}
.table-index-1{
  padding-top: 30px;
}
.paginate-job-2 {
 margin: 40px 0px 30px 0px;
}
