// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//--Boss 直聘----//
 .job-list {//颜色框以及阴影效果
   background: #2cc795;
   margin: 10px 250px 20px 250px;
   border-radius: 10px;
  //  box-shadow: 0px 10px 30px rgba(49, 8, 7, 1);//阴影效果
 }
 .job-list li {
   padding: 40px;
   overflow: hidden
 }
 // .job-list li:hover {//激活新背景
 //   background-color: #5c7381;
 //   -webkit-transition: all linear .2s;
 //   transition: all linear .2s;
 //   border-radius: 10px;
 //   color: #fff
 // }
 .job-list li p {//工作描述的字体、颜色
   margin-top: 25px;
   font-size: 20px;
   color: #7f3636;
   font-weight: bold;
 }
 //////////////
 .job-primary {
   overflow: hidden;
   color: #fff
 }
 .job-primary .info-primary {//工资的位置
   float: left;
   font-size: 15px;
   color: #4a4160
 }
 .job-primary .info-primary a {//标题的颜色和大小
   float: left;
   font-size: 35px;
   color: #fff
 }
 ///////////////
 .info-comapny {
   float: right;
   font-size: 30px;
   font-weight: bold;
 }
