<footer class="footer-distributed" >

 <div class="col-md-4 col-xs-4">
   <h3>1<span> Offer</span></h3>
   <p class="footer-links">
     <a href="/">首页</a>
     ·
     <a href="/">关于我们</a>
     ·
     <a href="/">常见问题</a>
     ·
     <a href="/">法律条款</a>
   </p>
   <p class="footer-company-name" style="font-size:15px; margin-top:30px;">Design by 谢育初 | 2017</p>
 </div>

 <div class="col-md-4 col-xs-4">
   <div class="pp-1">
     <i class="fa fa-map-marker"></i>
     <p>深圳市黄埔大道1号</p>
     <i class="fa fa-phone"></i>
     <p>+0755 83928765</p>
   </div>
   <div class="pp-1">
     <i class="fa fa-envelope" style="margin-top:8px;"></i>
     <p style="margin-top:-5px;"><a href="/" >support@lastoffer.com</a></p>
   </div>
 </div>

 <div class="col-md-4 col-xs-4">
   <p class="footer-company-about">
     <span style="font-size:17px;">关于我们</span>
     <p style="font-size:16px; color:#fff; margin-top:35px;">精准匹配，优质生活。</p>
   </p>
   <div class="footer-icons">
     <a href="https://github.com/jiujiubad/job-listing004"><i class="fa fa-github"></i></a>
     <a href="http://jiujiubad.top"><i class="fa fa-rss"></i></a>
     <a href="http://ww3.sinaimg.cn/large/006tNc79gy1ff05kafkwij308c08c74c.jpg"><i class="fa fa-weixin"></i></a>
   </div>
 </div>
</footer>
